{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="mt-3">
  <div id="alert-box"></div>
  <div id="img-box"></div>

  <form action="/" id="p-form" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}

    <div class="not-visible mt-1 mb-3" id="btn-box">
      <button class="btn btn-primary" type="submit" data-filter="NO_FILTER">No
        filter</button>
      <button class="btn btn-primary" type="submit"
        data-filter="COLORIZED">Colorized</button>
      <button class="btn btn-primary" type="submit"
        data-filter="GRAYSCALE">Grayscale</button>
      <button class="btn btn-primary" type="submit"
        data-filter="BLURRED">Blurred</button>
      <button class="btn btn-primary" type="submit"
        data-filter="BINARY">Binary</button>
      <button class="btn btn-primary" type="submit"
        data-filter="INVERT">Invert</button>
    </div>
  </form>
</div>
{% endblock content %}


{% block scripts %}
{% endblock scripts %}