{% extends 'store/main.html' %}
{% load static %}

{% block content %}

<div class="row">
    {% csrf_token %}
    <div class="col-lg-12">
        <div class="box-element">
            <a href="{% url 'store:store-view' %}" class="btn btn-outline-dark">
                &#x2190; Continue Shopping
            </a>
            <br>
            <br>

            <table class="table">
                <tr>
                    <th> <h5>Items: <strong>{{ order.get_cart_items_total }}</strong></h5> </th>
                    <th> <h5>Total: <strong>{{ order.get_cart_total_value }}</strong></h5> </th>

                    <th>
                        <a href="{% url 'store:checkout-view' %}"
                            class="btn btn-success"
                                style="float: right; margin: 5px;"
                        >
                            Checkout
                        </a>
                    </th>
                </tr>
            </table>

        </div>
        <br>
        {% for item in items %}
        <div class="box-element" id="product_row_{{ item.product.id }}">
            <div class="cart-row">
                <div style="flex: 2;"></div>
                <div style="flex: 2;"> <strong> Item </strong> </div>
                <div style="flex: 1;"> <strong> Price </strong> </div>
                <div style="flex: 1;"> <strong> Quantity </strong> </div>
                <div style="flex: 1;"> <strong> Total </strong> </div>
            </div>

            <div class="cart-row">
                <div style="flex: 2;">
                    <img src="{{ item.image_url }}" class="row-image">
                </div>
                <div style="flex: 2;"> <strong> {{ item.name }} </strong> </div>
                <div style="flex: 1;"> <strong> {{ item.price }} </strong> </div>
                <div style="flex: 1;">
                    <p class="quantity" id="product_quantity_{{ item.product.id }}"> {{ item.quantity }} </p>
                    <div class="quantity">
                        <img src="{% static 'images/arrow-up.png' %}"
                             class="chg-quantity update-cart"
                             data-action="add"
                             data-product_id="{{ item.product.id }}"
                        >
                        <img src="{% static 'images/arrow-down.png' %}"
                             class="chg-quantity update-cart"
                             data-action="remove"
                             data-product_id="{{ item.product.id }}"
                        >
                    </div>
                </div>
                <div style="flex: 1;">
                    <strong id="product_total_{{ item.product.id }}">
                        {{ item.total }}
                    </strong>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}