{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'store:store-view' %}">
    Ecommerce
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar items -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store:store-view' %}">
          Store <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>


    <div class="form-inline my-2 my-lg-0">
      <a href="#" class="btn btn-warning">Login</a>

      <a href="{% url 'store:cart-view' %}">
        <img src="{% static 'images/cart.png' %}" id="cart-icon">
      </a>

      <p id="cart-total"> {{ number_of_items_in_cart }} </p>
    </div>

  </div>
</nav>